@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  max-width: 800px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  text-align: center;
}

header > div {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;

}

header > * {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

header > * > * {
  margin: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h1, h2, h3, p, article, code, footer {
  margin: 1em;
}

a {
  text-decoration: underline;
}
